<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Listing</title>
  </head>
  <body>
    <h1>Create Listing</h1>
    <form action="/createlisting" method="post">
      <label for="price">Price:</label>
      <input type="text" id="price" name="price" /><br /><br />
      <label for="date">Date:</label>
      <input type="date" id="date" name="date" /><br /><br />
      <label for="status">Status:</label>
      <input type="text" id="status" name="status" /><br /><br />
      <label for="property_num">Property Number:</label>
      <input type="text" id="property_num" name="property_num" /><br /><br />
      <label for="agent_id">Agent ID:</label>
      <input type="text" id="agent_id" name="agent_id" /><br /><br />
      <label for="customer_id">Customer ID:</label>
      <input type="text" id="customer_id" name="customer_id" /><br /><br />
      <input type="submit" value="Create Listing" />
    </form>
  </body>
</html>
