<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Purchase Listing</title>
  </head>
  <body>
    <h1>Purchase Listing</h1>
    <form action="/purchaselisting" method="post">
      <label for="listing_num">Listing Number:</label>
      <input type="text" id="listing_num" name="listing_num" /><br /><br />
      <label for="customer_num">Customer Number:</label>
      <input type="text" id="customer_num" name="customer_num" /><br /><br />
      <input type="submit" value="Purchase Listing" />
    </form>
  </body>
</html>
